<% provide(:title, 'Home') %>
<div class='home'>
  <h1>Welcome to Twig</h1>
  <p>This site is used to champion great ideas by LivingSocial's amazing
  employees.

  The idea can be a new feature, better management strategy, new veritcle,
  improvement to current system, bugs, new tools</p>
  <p><b>Goal</b> -A tool for every LivingSocial employee in any department to
 help make LS a better place</p>

  <p><b>All ideas will be heard and responded</b></p>

  <p>The application is located in <a
  href="https://github.com/jmoon90/twig">https://github.com/jmoon90/twig</a>
  git repository. Feel free to contribute or make suggestions to make it better</p>

</div>
