<div class='home'>
  <h1>Welcome to Twig</h1>
  <p>This site is used to handle and champion great
  ideas by LivingSocial's amazing employees. The idea can be very specific and
  geared towards your team or not. It can be a problem that you sipmly think is
  cool or a problem that affects your work. It can be engineering a new
  feature or simply a recommendation to management style. Maybe you want
  to recommend a better work flow</p>
  <p><b>All ideas will be heard and responded to</b></p>

  <p>The application is located in <a
  href="https://github.com/jmoon90/twig">https://github.com/jmoon90/twig</a>
  git repository. Feel free to contribute or make suggestions to make it better.</p>
</div>
