    <p><b>Description</b>: <%= @project.description %></p>
 <!-- TODO check if project user is current_user and display Edit -->
    <p><b>Current Status</b>: <%= @project.status %></p>
    <p><b>The organizer and maintainers</b>: <%= @project.organizer.email %></p>
    <p><b>Source code / link</b>: <%= @project.link %></p>
