<div class='row'>
  <div class='medium-8 small-12 columns'>
    <h1>Information about <%= @project.name %> - <%= link_to 'edit', edit_project_path %></h1>
  </div>

  <div class='small-4 columns'>
    <br>
    <h2>Comments</h2>
  </div>

  <div class='medium-6 small-12 columns' style='margin-top: 10px;'>
    <%= render 'project_information' %>
  </div>

  <div class='small-6 columns'>
    <%= render "comment" %>
  </div>
<div>
