<div class='row'>
  <div class='small-8 small-offset-1 columns'>
    <h1><%= @project.name %></h1>
  </div>
  <div class='small-9 small-offset-1 columns' style='margin-top: 10px;'>
    <p><b>Description</b>: <%= @project.description %></p>

 <!-- check if project user is current_user and display Edit -->
  <br>
</div>

