<div class='row'>
  <div class='small-8 columns'>
    <h1><%= @project.name %>-<%= link_to 'edit', edit_project_path %></h1>
    <h2>What is this project about</h2>
  </div>

  <div class='small-4 columns'>
    <br>
    <h2>Comments</h2>
  </div>

  <div class='small-6 columns' style='margin-top: 10px;'>
    <%= render 'project_information' %>
  </div>

  <div class='small-6 columns'>
    <%= render "comment" %>
  </div>
<div>
